
*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: rgb(32, 32, 32);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    list-style:none;
}
.main-menus{
    /* color: white; */
    /* text-decoration: none; */
    /* list-style: none; */
    display: flex;
   
    
}
.logos{
    width: 120px;
}
.main-menus li{
    margin: 10px;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    
}
.main-menus li:hover{
    color: red;
}
.btndesign{
    background-color: red;
    color: white;
    margin: 10px;
    padding: 15px;
    border: 1 px solid black;
    border-radius: 5px;
}
.banner-img{
    width: 300px;
}
.banner-section{
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin: 10px;
    padding: 10px;
    height: 100vh;
    background-position:center;
    background-image: url("images/background.png"),linear-gradient(45deg, rgb(5, 5, 5), #2e2e2e);
    background-size: cover;
    color: white;
    background-repeat: no-repeat;
}
.descripton{
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}