
*{
margin:0px;
padding:0px;
}
.menu-container{
    background-color: rgb(32, 32, 32);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    list-style:none;
}
.main-menus{
    
    display: flex;
   
    
}
.logos{
    width: 120px;
}
.main-menus li{
    margin: 10px;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    
}
.main-menus li:hover{
    color: red;
}
.btndesign{
    background-color: red;
    color: white;
    /* margin: 10px; */
    padding: 15px 20px;
    margin-top: 20px;
    border: 1 px solid black;
    border-radius: 5px;
}
.banner-img{
    width: 300px;
}
.banner-section{
    display: flex;
    align-items: center;
    justify-content:space-around;
    /* margin: 10px; */
    /* padding: 10px; */
    margin-bottom: 10px;
    height: 100vh;
    background-position:center;
    background-image: url("images/background.png"),linear-gradient(45deg, rgb(5, 5, 5), #2e2e2e);
    background-size: cover;
    color: white;
    background-repeat: no-repeat;
}
.descripton{
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.about-us-contianer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    padding: 25px;
    margin-top: 20px;
    
}
.about-design{
    
    text-align: center;
    padding-top: 10px;
}
.title{
    font-weight: bold;
    font-size: 50px;
}
.about-design-title{
    text-align: center;
    padding-top: 10px; 
    font-weight: bold;
    font-size: 50px;
    color: white;
}
.service-container{
 background-image: url("images/background.png"),linear-gradient(45deg, rgb(5, 5, 5), #2e2e2e);
}
.box-contain{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.box{
    width: 200px;
    height: 280px;
    background-color: black;
    color: white;
    padding: 10px;
    box-shadow: 4px 2px 105px gray;
    border-radius: 10px;
    text-align: center;
    margin: 20px;

}
.icon{
    width: 70px;
    color: #2e2e2e;
}
.box-title{
    padding: 10px;
    color: white;
}