
*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: rgb(32, 32, 32);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    list-style:none;
}
.main-menus{
    /* color: white; */
    /* text-decoration: none; */
    /* list-style: none; */
    display: flex;
   
    
}
.logos{
    width: 120px;
}
.main-menus li{
    margin: 10px;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    
}
.main-menus li:hover{
    color: red;
}